<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
        let recipe = <%- JSON.stringify(recipe) %>
    </script>

    <title><%= recipe.title %></title>

</head>
<body>

    <%- include("navbar.ejs") %>
    <div class="container">
        <h2><%= recipe.title %></h2>
        <div>
            <h4>All Ingredients</h4>
            <ul>
                <% recipe.ingredient.forEach((item) => { %>
                    <% if (item.amount != 0 && item.unit != "number") {%>
                        <li><%= item.name.charAt(0).toUpperCase() + item.name.slice(1) + ' : ' + item.amount + ' ' + item.unit %></li>
                    <% } else if (item.amount != 0 && item.unit == "number") { %>
                        <li><%= item.name.charAt(0).toUpperCase() + item.name.slice(1) + ' : ' + item.amount %></li> 
                    <% } else { %>
                        <li><%= item.name.charAt(0).toUpperCase() + item.name.slice(1) %></li> 
                <% }}) %>
            </ul>

            <h4>Preparation</h4>     
            <ul>
                <% recipe.step.split('.').forEach((step) => { %>
                    <% if (step.trim().length) {%>
                        <li><%= step %></li>
                <% }}) %>
            </ul> 
            <img src="/images/<%= recipe._id %>.jpg" alt="" height="400" width="400">       
        </div>
        <a href='/'>Home</a>
    </div>
</body>
</html>

